<!-- QUEUED TASKS CARD -->
<mat-card class="my-tasks-assigned-card">
    <mat-card class="sub-card">
      <mat-card-header>
        <div class="profile-header">
          <h2 class="sub-card-title"> <mat-icon>list</mat-icon>QUEUED:</h2>
        </div>
      </mat-card-header>
      <mat-card-content>
        <table class="table table-bordered task-details-table">
          <thead>
            <tr>
              <th>Task ID</th>
              <th>Task Name</th>
              <th>Assignee</th>
              <th>Created</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of queuedTasks">
              <td>{{ task.id }}</td>
              <td>{{ task.name }}</td>
              <td>Unassigned</td>
              <td>{{ task.created | date: 'short' }}</td>
              <td>
                <button mat-raised-button (click)="retrieveTask(task.id)" class="btn btn-primary">
                  Retrieve Task
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-card>
  
