<mat-toolbar class="custom-toolbar">
  <button
    mat-icon-button
    class="neumorphic-button"
    aria-label="Toggle Sidebar"
    (click)="toggleSidebar()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span>Dashboard</span>
  
  <span class="example-spacer"></span>

  <!-- Notification Icon -->
  <button mat-icon-button class="notification-icon" aria-label="Notification icon">
    <mat-icon>notifications</mat-icon>
  </button>

  <button mat-button routerLink="/profile" routerLinkActive="active" class="neumorphic-button">
    My Profile
  </button>
</mat-toolbar>
