<mat-toolbar class="custom-toolbar">
  <!-- Sidebar Toggle Button -->
  <button
    mat-icon-button
    class="neumorphic-button"
    aria-label="Toggle Sidebar"
    (click)="toggleSidebar()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Dashboard Title -->
  <h3>My Dashboard</h3>
  
  <span class="example-spacer"></span>


  <!-- Profile Button with Icon -->
  <button
    mat-button
    routerLink="/login"
    routerLinkActive="active"
    class="neumorphic-button profile-button"
  >
    <mat-icon>login</mat-icon> Login
  </button>
</mat-toolbar>
