<mat-card class="my-tasks-card custom-card">
    <mat-card-header>
      <div class="profile-header">
        <h1 class="profile-title"><mat-icon>check_circle</mat-icon> Completed Tasks</h1>
      </div>
    </mat-card-header>
  
    <!-- Single Task: Queued Task -->
    <mat-card class="sub-card">
      <mat-card-header>
        <div class="profile-header">
          <h2 class="sub-card-title">Completed Task</h2>
        </div>
      </mat-card-header>
      <mat-card-content class="sub-card-content">
        <p>No completed tasks as yet.</p>

      </mat-card-content>
    </mat-card>
  </mat-card>
  