/* styles.scss */

/* Define a mixin for common styles */
@mixin menu-item {
  color: #422803;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 100px;
  transition: all 0.3s;

  .menu-icon {
    font-size: 30px;
    margin-right: 10px;
    
  }

  .menu-text {
      font-family: 'Inter', sans-serif;
      font-size: 15px;
    }
    
}
.sidebar-logo {
  text-align: left; /* Center the logo horizontally */
  padding: 30px 0; /* Add padding above and below the logo */
  border-bottom: 1px solid #ddd; /* Optional: Divider for better separation */
}

.sidebar-logo img {
  max-width: 100%; /* Resize the logo to take up 80% of the sidebar's width */
  height: 100%; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners */
  margin: 0 auto; /* Center the logo inside the sidebar */
}

.sidebar {
 box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  background-color: #fff8eb;
  width: 255px;
  padding: 20px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1%;
  overflow-x: hidden;
  margin-top: 48px;
  
  // transition: transform 0.3s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  @include menu-item;

  &:hover {
    // box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.5);
    background-color: rgb(241, 241, 241);
    color: #0056b3;


  }

  &.active {
    color: #000000;
    // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff;
    background-color: rgb(209, 195, 148);


    // border-radius: 5%;
  }

  &.active:hover {
    // color: #ffffff;

    // box-shadow: 4px 4px 6px #b9b9b9, -4px -4px 6px #ffffff;
    // background-color: #d5d5d5;
  }
}


.sub-menu {
  position: relative;
  left: 18px; /* Shift to the right */// adding space before sub-meu for indentation
}




.hideSidebar {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

/* Define the final state when showing */
.showSidebar {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}
:host {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Full height for the viewport */
}

app-sidenav {
  flex: 0 0 250px; /* Sidebar fixed width */
  height: 100%; /* Full height */
  z-index: 1000; /* Ensure it stays on top of other content */
}

main {
  flex: 1; /* Main content takes the remaining space */
  padding: 16px; /* Add padding to avoid content touching edges */
  overflow-y: auto; /* Scrollable if content overflows */
}
