<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }" [@fadeInOut]>
  <!-- Sidebar Logo -->
  <div class="sidebar-logo">
    <img src="assets/images/logo-1.png" alt="App Logo" />
  </div>  
  
  <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <span class="menu-icon material-icons">home</span>
          <span class="menu-text">Home</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" (click)="toggleSubmenu()">
          <span class="menu-icon material-icons">task</span>
          <span class="menu-text">Tasks</span>
          <span class="sub-menu-icon" [ngClass]="{ 'sub-menu-open': isSubmenuOpen }">
            <mat-icon>{{ isSubmenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
          </span>
        </a>
        <!-- Sub-menu for Dashboard with left padding -->
        <ul *ngIf="isSubmenuOpen" class="sub-menu">
          <li><a routerLink="/dashboard" routerLinkActive="active"><span class="menu-icon material-icons">assignment</span><span class="menu-text">My Tasks</span></a></li>
          <li><a routerLink="/queued-tasks" routerLinkActive="active"><span class="menu-icon material-icons">hourglass_empty</span><span class="menu-text">Queued</span></a></li>
          <li><a routerLink="/completed-tasks" routerLinkActive="active"><span class="menu-icon material-icons">check_circle</span><span class="menu-text">Completed</span></a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/settings" routerLinkActive="active">
          <span class="menu-icon material-icons">logout</span>
          <span class="menu-text">Logout</span>
        </a>
      </li>
    </ul>
  </div>

