.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  
    .full-width {
      width: 100%;
      max-width: 300px;
    }
  
    button {
      margin-top: 20px;
    }
  }
 
    