<div class="card0">
  <div class="card-header">
    <h3>1. Select a Document To Start The Process</h3>
  </div>
  <div class="card-body0">
    <!-- File Input -->
    <input type="file" (change)="onFileSelected($event)" />
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3>2. Please Enter Document Information Below</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <!-- Site Selection -->
      <div class="card mb-3">
        <div class="card-header">
          <h5>2.1. Company</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="siteSelection">Select Company:</label>
            <select
              id="siteSelection"
              formControlName="site"
              class="form-control"
              (change)="onSiteChange($event)"
            >
              <option value="" disabled>Select a Company</option>
              <option *ngFor="let site of sites" [value]="site">{{ site }}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Business Level Selection -->
      <div class="card mb-3" *ngIf="showBusinessLevel">
        <div class="card-header">
          <h5>2.2. Business Level</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="folderSelection">Select Business Level Folder:</label>
            <select
              id="folderSelection"
              formControlName="folder"
              class="form-control"
              (change)="onFolderChange($event)"
            >
              <option value="" disabled>Select a folder</option>
              <option *ngFor="let folder of businessFolders" [value]="folder">{{ folder }}</option>
            </select>
          </div>
        </div>
      </div>

      
      <!-- Upload Button -->
      <button type="submit" [disabled]="!uploadForm.valid" class="btn btn-primary">
        SUBMIT
      </button>
    </form>
  </div>
</div>
<!-- Upload Button -->