
  /* Footer */
  .footer {
    background: linear-gradient(to right, #fff8eb, #422803);
    color: #fff8eb;
    padding: 17px 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    /* Add these properties */
    position: fixed;  /* Keeps the footer fixed */
    bottom: 0;        /* Positions it at the bottom */
    width: 100%;      /* Ensures it spans the full width */
    z-index: 100;     /* Keeps it above other content */
}
