<mat-card class="document-page">
    <h1><mat-icon>search</mat-icon> Find Documents</h1>
    <p>Use the search bar to filter the site results & view it's associated folders & documents in the Alfresco Digital Workspace.</p>
  
    <!-- Main Card for Search and Folders -->
    <mat-card class="main-card">
      <!-- Search Bar -->
      <div class="search-bar">
        <input
          type="text"
          placeholder="Search Sites Here..."
          [(ngModel)]="searchTerm"
          class="search-input"
        />
      </div>

      <!-- Folder List with Individual Cards -->
      <div *ngFor="let folder of filteredFolders()" class="folder-card">
        <mat-card class="folder-info">
          <div class="folder-details">
            <span class="folder-name">{{ folder.name }}</span>
            <button
              mat-raised-button
              color="primary"
              class="open-button"
              (click)="openFolder(folder.link)"
            >
              <mat-icon>open_in_new</mat-icon> Open
            </button>
          </div>
        </mat-card>
      </div>
    </mat-card>
  </mat-card>
  