.document-page { 
    margin: 20px;
  }
  
  .main-card {
    padding: 20px;
    background: #f9f9f9;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  h1 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #422803;
    margin-bottom: 15px;
    padding-left: 20px
  }
  p {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #422803;
    margin-bottom: 15px;
    padding-left: 55px
  }
  /* Line Divider Option */
  .folder-container {
    padding: 10px 0;
  }
  
  .folder-details {
    display: flex;
    justify-content: space-between; /* Ensures folder name is on LHS and button is on RHS */
    align-items: center;
    padding: 10px 15px;
  }
  
  .folder-name {
    flex: 1; /* Ensures the folder name takes up available space */
    font-size: 16px;
    font-weight: 500;
    text-align: left; /* Aligns text to the left */
  }
  
  mat-divider {
    margin-top: 10px;
  }
  
  /* Card Option */
  .folder-card {
    margin-bottom: 20px;
  }
  
  .folder-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
  }
  
  .open-button {
    position: relative;
    background-color: green;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .open-button mat-icon {
    margin-right: 5px; /* Adds space between the icon and text */
  }
  