<!-- ASSIGNED TASKS CARD -->
<mat-card class="sub-card">
      <mat-card-header>
        <div class="profile-header">
          <h2 class="sub-card-title">My Assigned Tasks</h2>
        </div>
      </mat-card-header>
      <mat-card-content>
        <table class="table table-bordered task-details-table">
          <thead>
            <tr>
              <th>Task ID</th>
              <th>Task Name</th>
              <th>Assignee</th>
              <th>Created</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of pagedAssignedTasks">
              <td>{{ task.id }}</td>
              <td>{{ task.name }}</td>
              <td>{{ task.assignee.firstName }} {{ task.assignee.lastName }}</td>
              <td>{{ task.created | date: 'short' }}</td>
              <td>
                <button mat-raised-button (click)="openTask(task.id)" class="btn btn-primary">
                  Open Task
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    
        <mat-paginator 
          [length]="assignedTasks.length" 
          [pageSize]="7" 
          [pageSizeOptions]="[7, 14, 21]" 
          (page)="paginateAssignedTasks($event)">
        </mat-paginator>
    
        <mat-card-footer>
          <br><p>Total Assigned Tasks: {{ assignedTasks.length }}</p>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
    
    <!-- COMPLETED TASKS CARD -->
    <mat-card class="sub-card">
      <mat-card-header>
        <div class="profile-header">
          <h2 class="sub-card-title">My Completed Tasks</h2>
        </div>
      </mat-card-header>
      <mat-card-content>
        <table class="table table-bordered task-details-table">
          <thead>
            <tr>
              <th>Task ID</th>
              <th>Task Name</th>
              <th>Assignee</th>
              <th>Created</th>
              <th>Completed</th>
              <th>Process Instance ID</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of pagedCompletedTasks">
              <td>{{ task.id }}</td>
              <td>{{ task.name }}</td>
              <td>{{ task.assignee.firstName }} {{ task.assignee.lastName }}</td>
              <td>{{ task.created | date: 'short' }}</td>
              <td>{{ task.endDate | date: 'short' }}</td>
              <td>{{ task.processInstanceId }}</td>
            </tr>
          </tbody>
        </table>
    
        <mat-paginator 
          [length]="completedTasks.length" 
          [pageSize]="7" 
          [pageSizeOptions]="[7, 14, 21]" 
          (page)="paginateCompletedTasks($event)">
        </mat-paginator>
    
        <mat-card-footer>
          <br><p>Total Completed Tasks: {{ completedTasks.length }}</p>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
    